body { margin:0; padding:0; }
#map { position:absolute; top:3.5em; bottom:0; width:100%; visibility: hidden;}
#loading {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
}

#header {
    text-align: center;
    font-family: sans-serif;
    line-height: 2.5em;
    border-bottom: 2px solid grey;
    background: #00B2A9;
    color: white;
}

div[class^="vehicle-icon-"] {
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 20px;
    background: gray;
  }

.line-number {
    line-height: 2.1em;
    color: white;
    font-size: 15px;
}

.vehicle_id {
    color: black;
    margin-right: auto;
    padding: 0.3em;
    background: white;
    border: 1px solid black;
}
